.about {
  @include flex-center;
  .container {
    .row {
      margin: auto;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
  .about-room-inside img {
    width: 100%;
    vertical-align: top;
  }
  h3 {
    font-size: 2rem;
    margin: 7rem 0 2rem;
  }
  img {
    width: 100%;
    border-radius: 20px;
  }
  .about-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    .home-txt {
      width: 100%;
      max-width: 25rem;
      line-height: 1.5;
      letter-spacing: 0.5px;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .down-right {
      width: 100%;
      max-width: 25rem;
      letter-spacing: 0.5px;
      margin-bottom: 2rem;
      p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        &:nth-child(1) {
          text-align: center;
        }
      }
    }
    .up-right,
    .down-left,
    .down-left-next,
    .left-after,
    .left-after-next {
      margin-bottom: 2rem;
    }
  }
  .about-card {
    margin-bottom: 3rem;
    .about-card-txt {
      max-width: 25rem;
      width: 100%;
      box-sizing: border-box;
      background-color: #b7e3ec;
      font-size: 1.2rem;
      margin-bottom: 2rem;
      padding: 1rem;
    }
  }
  .about-room-inside {
    .inside1,
    .inside2,
    .inside3,
    .inside4,
    .inside5 {
      margin-bottom: 2rem;
    }
  }
  .background-pic {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .about .container .row h3 {
    display: none;
  }

  .about img {
    border-radius: 20px;
  }

  .about .about-home {
    display: grid;
    grid-template-areas:
      'a a b b '
      'a a b b '
      'c d b b '
      'e f g g '
      '. . g g ';
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .about-home .home-txt {
    grid-area: a;

    align-self: center;
    justify-self: center;
    width: 400px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  .about-home .home-txt p {
    font-size: 20px;
    margin-bottom: 1em;
  }

  .about-home .down-right {
    grid-area: g;

    width: 400px;
    letter-spacing: 0.5px;
    align-self: center;
    justify-self: center;
  }

  .about-home .down-right p {
    font-size: 20px;
    margin-bottom: 1em;
  }

  .about-home .up-right {
    grid-area: b;
    margin: 0;
  }

  .about-home .down-left {
    grid-area: c;
    align-self: flex-end;
    margin: 0;
  }

  .about-home .down-left-next {
    grid-area: d;
    align-self: flex-end;
    margin: 0;
  }

  .about-home .left-after {
    grid-area: e;
    margin: 0;
  }

  .about-home .left-after-next {
    grid-area: f;
    margin: 0;
  }

  .about .container .about-room-inside {
    display: grid;
    grid-template-areas:
      'a a b b b b b c c'
      'a a b b b b b c c'
      'a a d d e e e c c'
      'a a d d e e e c c';
    margin-bottom: 3rem;
    gap: 2rem;
  }

  .about-room-inside .inside1 {
    grid-area: a;
    margin: 0;
  }

  .about-room-inside .inside2 {
    grid-area: b;
    margin: 0;
  }

  .about-room-inside .inside3 {
    grid-area: c;
    margin: 0;
  }

  .about-room-inside .inside4 {
    grid-area: d;
    margin: 0;
  }

  .about-room-inside .inside5 {
    grid-area: e;
    margin: 0;
  }

  .about .about-card {
    display: flex;
    justify-content: center;
  }

  .about .about-card .about-card-txt {
    align-self: center;
    position: relative;
    left: 10%;
    padding: 3rem;
    background-color: #b7e3ec;
  }

  .about .about-card .about-card-txt p + p {
    margin-top: 1rem;
  }
}
